<main class="container">
  <%= link_to sanitize("&larr; Back to galleries"), photo_gallery_photos_path %>

  <div class="header">
    <h1>New Image</h1>
  </div>
  <%= render "form", photo: @photo %>
</main>